/* dal css */

#div_country .select2-container {
    width: 100% !important;
    min-width: 100% !important;
    /* max-width: 180px !important; */
}

#div_zip_code .select2-container {
    width: 100% !important;
    min-width: 100% !important;
    /* max-width: 180px !important; */
}

#div_zip_street .input {
    width: 100% !important;
    min-width: 100% !important;
    /* max-width: 180px !important; */
}

#div_house_nr .input {
    width: 100% !important;
    min-width: 100% !important;
    /* max-width: 180px !important; */
}

#check-btn {
    float: right;
}
