{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}

{% block customcss %}
    <link href="{% static "dolphin/css/availability-check.css" %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block customjs %}
    <script src="{% static "dolphin/js/availability-check.js" %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ availability_check_form.media }}
    <script>
        $.fn.select2.defaults.set("theme", "bootstrap-5");
    </script>
{% endblock %}

{% block content %}
    {% if product_list %}{% include 'django_template_landrick/seg_product_comparison.html' %}{% endif %}
    <div class="container{% if product_list %} mt-100{% else %} mt-60{% endif %}">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'img/40_web.webp' %}" class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ isp_product_availability_check_01_header }}</h4>
                    <p class="text-muted">{{ isp_product_availability_check_01_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container shadow-lg p-5 m-5 bg-light rounded">
        <div class="col-lg-12">
            <div class="title-heading text-center">
                <h4>{% trans "Check which internet and telephony offers are available for you!" %}</h4>
                <p>{% trans "Use our availability check to find out which internet speeds are available in your area. Based on this data, we can offer you the right plan." %}</p>
                <form action="{{ request.get_full_path }}" method="post" class="rounded p-4 mt-4 bg-light">
                    {% csrf_token %}
                    <div class="row gx-1">
                        <div class="col-md-12">
                            <div class="row gx-1" id="div_row">
                                <div class="col-md-3 mt-2 mt-sm-0 ">
                                    <div class="mb-0" id="div_country">
                                        {{ availability_check_form.country }}
                                    </div>
                                </div><!--end col-->
                                <div class="col-md-3 mt-2 mt-sm-0 ">
                                    <div class="mb-0" id="div_zip_code">
                                        {{ availability_check_form.zip_code }}
                                    </div>
                                </div><!--end col-->
                                <div class="col-md-4 mt-2 mt-sm-0 ">
                                    <div class="mb-0" id="div_street">
                                        {{ availability_check_form.street }}
                                    </div>
                                </div><!--end col-->
                                <div class="col-md-2 mt-2 mt-sm-0 ">
                                    <div class="mb-0" id="div_house_nr">
                                        {{ availability_check_form.house_nr }}
                                    </div>
                                </div><!--end col-->
                            </div><!--end row-->
                        </div> <!---end col-->
                    </div>
                    <br>
                    <input type="submit" id="check-btn" name="check" class="searchbtn btn btn-primary"
                           value="{% trans "Check" %}">
                </form>
            </div>
        </div>
    </div>
    <div class="container mt-lg-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-10">
                <div class="section-title">
                    <div class="text-center">
                        <h4 class="title mb-4">{{ isp_product_availability_check_02_header }}</h4>
                        <p class="text-muted mb-0 mt-4">{{ isp_product_availability_check_02_content|safe }}</p>
                        <img src="{% static 'img/47_web.webp' %}" class="img-fluid mt-5" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'django_template_landrick/seg_contact_more_info.html' %}
    {% include 'django_template_landrick/seg_faq.html' %}
{% endblock %}
