{% extends 'django_template_landrick/base.html' %}
{% load static %}
{% load i18n %}
{% load leaflet_tags %}

{% block customcss %}
    {% leaflet_css %}
{% endblock %}

{% block customjs %}
    {% leaflet_js %}
    <style>
        .leaflet-container {
            height: 100%;
        }
    </style>
    <script type="text/javascript">
        var dataurl = 'https://wifi-api.managed-infra.com/api/data.geojson';

        var geojsonMarkerOptionsGreen = {
            radius: 8,
            fillColor: "#50D050",
            color: "#000",
            weight: 1,
            opacity: 1,
            fillOpacity: 0.8
        };

        window.addEventListener("map:init", function (event) {
            var map = event.detail.map;

            {% if map_geo_location %}
                map.setView(new L.LatLng({{ map_geo_location }}), {{ map_zoom_level }});
            {% endif %}

            // Download GeoJSON data with Ajax
            fetch(dataurl)
                .then(function (resp) {
                    return resp.json();
                })
                .then(function (data) {
                    L.geoJson(data, {
                        pointToLayer: function (feature, latlng) {
                            return L.circleMarker(latlng, geojsonMarkerOptionsGreen);
                        }
                    }).addTo(map);
                });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container mb-5">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6 mt-4 pt-2">
                <img src="{% static 'img/19_web.webp' %}" class="img-fluid rounded-md" alt="">
            </div><!--end col-->
            <div class="col-lg-7 col-md-6 mt-4 pt-2">
                <div class="section-title me-lg-5">
                    <h4 class="title mb-4">{{ isp_public_wlan_01_header }}</h4>
                    <p class="text-muted">{{ isp_public_wlan_01_content|safe }}</p>
                </div>
            </div>
        </div>
    </div>
    {% include 'django_template_landrick/seg_press_references.html' %}
    {% include 'django_template_landrick/seg_product_comparison.html' %}
    <div class="container mt-100">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title">{% translate "Our WLAN-Hotspots in" %} {{ content_title_sub }}</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->
        <div class="row justify-content-center">
            {% leaflet_map "main" %}
        </div>
    </div>
    {% include 'django_template_landrick/seg_contact_more_info.html' %}
    {% include 'django_template_landrick/seg_faq.html' %}
{% endblock %}
